nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top#custom {
    background: linear-gradient(#c10000, #490000);
    border-radius: 0px;
}

.home {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
}

.home:hover {
    background: linear-gradient(#a30000, #470000);
}

.home:focus {
    border-color: black;
    background: linear-gradient(#a30000, #470000);
}
.home a{
    color: #d39898;
}
.home a:focus {
    color: #d39898;
    text-decoration: none;
}
.home a:hover {
    color: #d39898;
    text-decoration: none;
 }

.categories {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d4d6d8;
    padding: 4px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    width: 150px;
}

.categories:hover {
    background: linear-gradient(#a30000, #470000);
}
.log-in {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
}

.log-in:hover {
    background: linear-gradient(#a30000, #470000);
    outline: none;
}
#navbarResponsive{
    float: right;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    float: left;
    width: 80%;
    background: white;

}

form.example:focus, input:focus {
    outline-color: #2d0000;

}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: linear-gradient(#c10000, #490000);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: linear-gradient(#a30000, #470000);
    outline: none;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.favorite {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 160px;
    height: 35px;
    padding-top: 3px;
}
.favorite:hover {
    background: linear-gradient(#a30000, #470000);
}
.favorite:focus{
    outline: 0;
    box-shadow: none!important;
}
.cart.buy:focus{
    outline: 0;
    box-shadow: none!important;
}

h1.my-4 a {

    font-family: Comfortaa, Serif;
    color: black;
    opacity: 0.9;
    text-decoration: none;
    text-shadow: 3px 4px #564f4f;
}

h1.my-4 a:hover {
    color: #3f3939;
}

a.list-group-item {

    color: white;
}

a.list-group-item.lg {
    border-radius: 7px;
    border-color: #e4e9ed;
    border-bottom: none;
    border-width: 3px;
    background: linear-gradient(#a80101, #820101);
}

a.list-group-item.lg:hover {
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
}

.cart.buy {
    border-radius: 8px;
    height: 35px;
    width: 130px;
    font-size: 14px;
    padding-top: 6px;
}

.btn a {
    color: #d39898;
}

.btn a:hover {
    color: #d39898;
    text-decoration: none;
}

.log-in a {
    color: #d39898;
}

.log-in a:hover {
    color: #d39898;
    text-decoration: none;
}

.cart a {
    color: #d39898;
}

.cart a:hover {
    color: #d39898;
    text-decoration: none;
}

.favorites a {
    color: #d39898;
}

.favorites a:hover {
    color: #d39898;
    text-decoration: none;
}
.save {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
        width: 160px;
        height: 35px;
        padding-top: 3px;
        text-align: center;
    }

    .save:hover {
        background: linear-gradient(#a30000, #470000);
    }

    .save:focus {
        outline: 0;
        box-shadow: none !important;
    }

    .wrapper {
        text-align: center;
    }
 h1 a.brand{
     font-family: Comfortaa, Serif;
     color: white;
     opacity: 0.9;
     text-decoration: none;

 }
 h1 a.brand:hover{
     color: #d4d6d8;
 }
 .panel-heading{
     padding-left: 55px;
 }




