/*!
 * Start Bootstrap - Portfolio Item (https://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */


  body {
      padding-top: 56px;
      background-color: #e4e9ed;
  }



  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{
  background: linear-gradient(#c10000, #490000);

  }
.btn {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(#a30000, #470000);
}
.categories{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d4d6d8;
    padding: 4px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    width: 150px;
    }
.categories:hover{
    background: linear-gradient(#a30000, #470000);
}

.favorites{
    background: linear-gradient(#c10000, #470000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.favorites:hover{
    background: linear-gradient(#a30000, #470000);
}
.cart{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.cart:hover{
    background: linear-gradient(#a30000, #470000);
}
.log-in{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.log-in:hover{
    background: linear-gradient(#a30000, #470000);
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    float: left;
    width: 80%;
    background:white;

}
form.example:focus, input:focus{
    background: #d4d6d8;
    outline-color: #2d0000;

}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: linear-gradient(#c10000, #490000);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px; /* Prevent double borders */
    cursor: pointer;
}
form.example button:hover {
    background: linear-gradient(#a30000, #470000);
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
h1 a.brand{
    font-family: Comfortaa, Serif;
    color: white;
    opacity: 0.9;
    text-decoration: none;

      }
h1 a.brand:hover{
   color: #d4d6d8;
  }
.col-md-3#right{
    text-align: center;
    padding-top:60px;
  }
.cart.buy{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 20px;
        }
.cart.buy:hover{
    background: linear-gradient(#a30000, #470000);
}
.favorite{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;

}
.favorite:hover{
    background: linear-gradient(#a30000, #470000);
}
h5{
margin-top: 20px;
}
.btn a {
    color: #d39898;
}
.btn a:hover{
    color: #d39898;
    text-decoration: none;
}
.log-in a {
    color: #d39898;
}
.log-in a:hover{
    color: #d39898;
    text-decoration: none;
}
.cart a {
    color: #d39898;
}
.cart a:hover{
    color: #d39898;
    text-decoration: none;
}
.favorites a {
    color: #d39898;
}
.favorites a:hover{
    color: #d39898;
    text-decoration: none;
}

.card.h-100 {
    background-color: #e4e9ed;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
}

img.card-img-top {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

p.price{
    color: #4285f4;
    font-weight: bold;
}
h5 small{
    color: #4285f4;
    font-weight: bold;
}
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}
.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}
.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}
.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}
.rating-list-center {
    width: 80%;
}
.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}
.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}
.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}
.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
    border-color: #3868fb;
    color: #3868fb;
}
.offer-dedicated-nav .nav-link {
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 16px 0;
    font-weight: 600;
}
.offer-dedicated-nav .nav-item {
    margin: 0 37px 0 0;
}
.restaurant-detailed-action-btn {
    margin-top: 12px;
}
.restaurant-detailed-header-right .btn-success {
    border-radius: 3px;
    height: 45px;
    margin: -18px 0 18px;
    min-width: 130px;
    padding: 7px;
}
.text-black {
    color: #000000;
}
.icon-overlap {
    bottom: -23px;
    font-size: 74px;
    opacity: 0.23;
    position: absolute;
    right: -32px;
}
.menu-list img {
    width: 41px;
    height: 41px;
    object-fit: cover;
}
.restaurant-detailed-header-left img {
    width: 88px;
    height: 88px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.total-like-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    width: 34px;
}
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}
.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}
.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}
.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}
.rating-list-center {
    width: 80%;
}
.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}
.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}
.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}