/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: black;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #e4e9ed;
;
}

body {
  display: -ms-flexbox;
  display: flex;

  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.cover-container {
  max-width: 42em;
}
.cover-heading{
    opacity: 80%;
    margin-bottom: 50px;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand {
    float: left;
  }
.nav-masthead {
    float: right;
  }

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.cart{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
}
.cart:hover{
    background: linear-gradient(#a30000, #470000);
}
.cart:focus{
    outline:0 !important;
}

.card.h-100{
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
}
img.card-img-top{
    height: 200px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-down:10px;
}

p.price{
    color: deepskyblue;
}
.btn {
    background: linear-gradient(#c10000, #490000);
    border: 10px;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
}
.btn:hover{
    background: linear-gradient(#a30000, #470000);
}
.btn:focus{
    border-color:black;
    background: linear-gradient(#a30000, #470000);
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}
