/*!
 * Start Bootstrap - 1 Col Portfolio (https://startbootstrap.com/template-overviews/1-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-1-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  background-color: #e4e9ed;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-color: #e4e9ed;

  }
}

.pagination {
  margin-bottom: 15px;
}
 nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{
  background: linear-gradient(#c10000, #490000);

  }
.btn {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(#a30000, #470000);
}
.categories{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d4d6d8;
    padding: 4px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    width: 150px;
    }
.categories:hover{
    background: linear-gradient(#a30000, #470000);
}

.favorites{
    background: linear-gradient(#c10000, #470000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.favorites:hover{
    background: linear-gradient(#a30000, #470000);
}
.cart{
    background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.cart:hover{
    background: linear-gradient(#a30000, #470000);
}

.log-in{
    background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.log-in:hover{
    background: linear-gradient(#a30000, #470000);
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  float: left;
  width: 80%;
  background:white;

}
form.example:focus, input:focus{
    background: #d4d6d8;
    outline-color: #2d0000;

}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: linear-gradient(#c10000, #490000);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px; /* Prevent double borders */
  cursor: pointer;
}
form.example button:hover {
  background: linear-gradient(#a30000, #470000);
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
  h1 a.brand{
      font-family: Comfortaa, Serif;
      color: white;
      opacity: 0.9;
      text-decoration: none;

      }
  h1 a.brand:hover{
    color: #d4d6d8;
  }
  img.card-img-top{
      height: 250px;
  }
.btn a {
    color: #d39898;
}
.btn a:hover{
    color: #d39898;
    text-decoration: none;
}
.log-in a {
    color: #d39898;
}
.log-in a:hover{
    color: #d39898;
    text-decoration: none;
}
.cart a {
    color: #d39898;
}
.cart a:hover{
    color: #d39898;
    text-decoration: none;
}
.favorites a {
    color: #d39898;
}
.favorites a:hover{
    color: #d39898;
    text-decoration: none;
}
p.card-title a{
    color: black;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.card.h-100{
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    text-align: center;
    background-color: #e4e9ed;
}
img.card-img-top{
    height:200px;
    width:150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-down:10px;
}

p.price {
    color: #4285f4;
    font-weight: bold;
    margin-top: -10px;
}

.card-title{
    margin-top: -10px;
}
.delete {
    background: linear-gradient(#c10000, #470000);
    border-radius: 8px;
    height: 35px;
    width: 85px;
    font-size: 14px;
    padding-top: 3px;
    margin-top: -10px;
    border: none;
    color: #d39898;

}
.delete:focus{
    outline: 0;
    box-shadow: none!important;
}
.cart.buy {
    background: linear-gradient(#c10000, #470000);
    border-radius: 8px;
    height: 35px;
    width: 85px;
    font-size: 14px;
    padding-top: 7px;
    margin-top: -10px;
    border: none;
    color: #d39898;

}
.cart.buy:focus{
    outline: 0;
    box-shadow: none!important;
}
.my-4{
    padding-top: 15px;
}



