<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Booktique</title>

  <!-- Custom fonts for this template-->
  <link href="startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/admin.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="border-left: .25rem solid #590602!important; border-left-width: 0.25rem !important; border-left-style: solid !important; border-left-color: #590602 !important;">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${users}"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="border-left: .25rem solid #cf5651!important; border-left-width: 0.25rem !important; border-left-style: solid !important; border-left-color: #cf5651 !important;">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"th:text="@{'$' + ${earnings}}"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="border-left: .25rem solid #d60229!important; border-left-width: 0.25rem !important; border-left-style: solid !important; border-left-color: #d60229 !important;">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sales</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${sales}"></div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="border-left: .25rem solid #2b0008!important; border-left-width: 0.25rem !important; border-left-style: solid !important; border-left-color: #2b0008 !important;">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Reviews</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"th:text="${reviews}"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="container">
                  <h2 align="center">Monthly Earnings</h2>

                  <div id="container"
                       style="width: 500px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
            </div>


            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle" style="color: #590602"></i> Best Seller
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #7a2420"></i> Children's Books
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #cf5651"></i> Computer and Technology
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #d60229"></i> History
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #2b0008"></i> Literature and Fiction
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #4a180a"></i> Medical Books
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle" style=" color: #4a342e"></i> Romance
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Book Sales Per Category</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Best Seller <span class="float-right" th:text="${bestSeller}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${bestSeller}+'; background-color: #590602'" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Children's Books <span class="float-right" th:text="${childrenBooks}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${childrenBooks}+'; background-color: #7a2420'" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Computer and Technology <span class="float-right" th:text="${computerAndTechnology}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${computerAndTechnology}+'; background-color: #cf5651'" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">History <span class="float-right" th:text="${history}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${history}+'; background-color: #d60229'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Literature and Fiction <span class="float-right" th:text="${literatureAndFiction}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${literatureAndFiction}+'; background-color: #2b0008'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold"> Medical Books<span class="float-right" th:text="${medicalBooks}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:style="'width: '+${medicalBooks}+'; background-color: #4a180a'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Romance <span class="float-right" th:text="${romance}"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-purple " role="progressbar" th:style="'width: '+${romance}+'; background-color: #4a342e'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <h4 class="my-4">Most Rated Books</h4>
              <hr>
              <div class="row">


                <div th:each="b: ${mostRatedBooks}" class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100" style="height:200px">
                    <a th:href="@{'/book?book_id='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" alt="" height="200" width="200" ></a>
                    <div class="card-body">
                      <div class="wp">

                        <a th:text="${b.bookTitle}" th:href="@{'/book?book_id='+${b.id}}" style="color: black; font-size: 16px; display: block; length: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center" ></a>

                        <p class="price" th:text="@{'$'+${b.price}}">
                        <form action="/addToFavorites" method="post">
                          <input name="id" hidden th:value="${b.id}">
                          <button type="submit" class="favorite">Add to Favorites <i class="fa fa-heart"></i></button>
                        </form>
                        <form action="/addToCart" method="post">
                          <input name="id" hidden th:value="${b.id}">
                          <button type="submit" class="cart buy">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <h4 class="my-4">Most Reviewed Books</h4>
        <hr>
              <div class="row">
                <div th:each="b: ${mostReviewedBooks}" class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100" style="height:200px">
                    <a th:href="@{'/book?book_id='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" style="height: 200px; width: 150px" alt="" height="200" width="200" ></a>
                    <div class="card-body">
                      <div class="wp">

                        <a th:text="${b.bookTitle}" th:href="@{'/book?book_id='+${b.id}}" style="color: black; font-size: 16px; display: block; length: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center" ></a>

                        <p class="price" th:text="@{'$'+${b.price}}">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
  <script src="startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="startbootstrap-sb-admin-2-gh-pages/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="startbootstrap-sb-admin-2-gh-pages/js/demo/chart-area-demo.js"></script>
  <script src="startbootstrap-sb-admin-2-gh-pages/js/demo/chart-pie-demo.js"></script>


  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

<!--Chart Area-->
  <script th:inline="javascript">
    $(function(){
      Highcharts.chart('container', {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          categories: [[${monthlyEarnings.keySet()}]],
          crosshair: true
        },
        yAxis: {
          min: 0,
          max:5000,
          title: {
            text: 'Monthly earnings [in $]'
          }
        },
        tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:#4a342e;padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
          name: 'Earnings',
          data: [[${monthlyEarnings.values()}]]
        }]
      });
    });

    // Pie Chart
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [[${availableItemsPerCategory.keySet()}]],
        datasets: [{
          data: [[${availableItemsPerCategory.values()}]],
          backgroundColor: ['#590602', '#7a2420', '#cf5651', '#d60229', '#2b0008', '#4a180a', '#4a342e'],
          hoverBackgroundColor: ['#590602', '#7a2420', '#cf5651', '#d60229', '#2b0008', '#4a180a', '#4a342e'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });

  </script>


</body>

</html>
