<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${book.bookTitle}"></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/book.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">

</head>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <h1><a class="brand" href="/">Booktique</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button class="btn"><a href="/"><i class="fa fa-home"></i> Home</a></button>
                </li>
                <li class="nav-item dropdown">
                    <button class="categories">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:each="category: ${categories}"
                               th:href="@{'/categories?category='+${category}}" class="dropdown-item"
                               th:text="${category}"></a>
                        </div>
                    </button>
                </li>
                <li th:if="${!loggedAsAdmin}" class="nav-item">
                    <button class="favorites"><a href="/favorites">Favorites</a></button>
                </li>
                <li th:if="${!loggedAsAdmin}" class="nav-item">
                    <button class="cart"><a href="/shopping_cart">Shopping Cart</a></button>
                </li>
                <li class="nav-item">
                    <button th:if="${!logged1}" class="log-in"><a href="signin.html">Log In</a></button>
                    <button th:if="${logged1}" class="log-in"><a href="/logout">Log out</a></button>
                </li>
                <li class="nav-item">
                    <form class="example" action="/search" method="post">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h3 class="my-4" th:text="${book.bookTitle}"></h3><h6 th:text="${book.author}"></h6>
    <hr>


    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-3 ">
            <img class="img-fluid" th:src="${book.photo}" height="200" width="200" >
        </div>


        <div class="col-md-6" th:text="${book.description}">
        </div>

        <div class="col-md-3" id="right">
            <form action="/addToFavorites" method="get">
                <input th:value="${book.id}" name="id" hidden>
                <button type="submit" class="favorite">Add to Favorites <i class="fa fa-heart"></i></button>
            </form>
            <form action="/addToCart" method="post">
                <input th:value="${book.id}" name="id" hidden>
                <button type="submit" class="cart  buy">Add to Cart <i class="fa fa-shopping-cart"></i></button>
            </form>
            <h5>Price:
                <small style="color:deepskyblue" th:text="@{'$'+${book.price}}"></small>
            </h5>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h4 class="my-4">Related Search</h4>
    <hr>

    <div class="row">

        <div class="row">


            <div th:each="b: ${relatedSearchItems}" class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a th:href="@{'/book?book_id='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" style="height: 200px; width: 150px" alt="" ></a>
                    <div class="card-body">
                        <div class="wp" style="text-align: center">
                                <a th:text="${b.bookTitle}" th:href="@{'/book?book_id='+${b.id}}" style="color: black; font-size: 16px; display: block; length: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center"></a>

                            <p class="price" th:text="@{'$'+${b.price}}">
                            <form th:if="${!loggedAsAdmin}" action="/addToFavorites" method="post">
                                <input name="id" hidden th:value="${b.id}">
                                <button type="submit" class="favorite">Add to Favorites <i class="fa fa-heart"></i></button>
                            </form>
                            <form th:if="${!loggedAsAdmin}" action="/addToCart" method="post">
                                <input name="id" hidden th:value="${b.id}">
                                <button type="submit" class="cart buy">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

    <div class="col-md-8">
        <div class="offer-dedicated-body-left">
            <div class="tab-content" id="pills-tabContent">
                    <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
                        <h5 class="mb-0 mb-4">Ratings
                            <span class="fa fa-star checked" style="color: orange"></span>
                            <span class="fa fa-star checked" style="color: orange"></span>
                            <span class="fa fa-star checked" style="color: orange"></span>
                            <span class="fa fa-star checked" style="color: orange"></span>
                            <span class="fa fa-star checked" style="color: orange"></span>
                        </h5>
                        <div class="graph-star-rating-header">
                            <div class="star-rating" style="margin-bottom: 10px">
                                <a href="#"><i class="icofont-ui-rating active"></i></a>
                                <a href="#"><i class="icofont-ui-rating active"></i></a>
                                <a href="#"><i class="icofont-ui-rating active"></i></a>
                                <a href="#"><i class="icofont-ui-rating active"></i></a>
                                <a href="#"><i class="icofont-ui-rating"></i></a> <b class="text-black ml-2" th:text="${totalRatings}"></b>
                            </div>
                        </div>
                        <div class="graph-star-rating-body">
                            <div class="rating-list">
                                <div class="rating-list-left text-black">
                                    Excellent
                                </div>
                                <div class="rating-list-center">
                                    <div class="progress">
                                        <div th:style="'width: '+${excellentRating}" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list-right text-black" th:text="${excellentRating}"></div>
                            </div>
                            <div class="rating-list">
                                <div class="rating-list-left text-black">
                                    Good
                                </div>
                                <div class="rating-list-center">
                                    <div class="progress">
                                        <div th:style="'width: '+${goodRating}" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list-right text-black" th:text="${goodRating}"></div>
                            </div>
                            <div class="rating-list">
                                <div class="rating-list-left text-black">
                                    Mediocre
                                </div>
                                <div class="rating-list-center">
                                    <div class="progress">
                                        <div th:style="'width: '+${mediocreRating}" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list-right text-black" th:text="${mediocreRating}"></div>
                            </div>
                            <div class="rating-list">
                                <div class="rating-list-left text-black">
                                    Poor
                                </div>
                                <div class="rating-list-center">
                                    <div class="progress">
                                        <div th:style="'width: '+${poorRating}" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list-right text-black" th:text="${poorRating}"></div>
                            </div>
                        </div>
                        <div class="graph-star-rating-footer text-center mt-3 mb-3">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#myModal">Rate this book</button>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                        <h5 class="mb-1" style="text-align: center">Reviews</h5>
                        <div class="reviews-members pt-4 pb-4" th:each="r: ${reviews}">
                            <div class="media">
                                <div class="media-body">
                                    <div class="reviews-members-header">
                                        <h6 class="mb-1" th:utext="${r.authorName}"></h6>
                                        <p class="text-gray" th:text="${r.date}"></p>
                                    </div>
                                    <div class="reviews-members-body">
                                        <p th:text="${r.text}"></p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <hr>
                        </div>

                        <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All Reviews</a>
                    </div>
                    <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                        <h5 class="mb-4">Write Review </h5>
                        <form action="/review" method="post">
                            <div class="form-group">
                                <input name="id" hidden th:value="${book.id}">
                                <label>Your Review</label>
                                <textarea name="review" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="submit"> Submit Review </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="message" style="text-align: center; color: green;"></div>
                <div class="form-group">
                    <span id="updatecapacitymodalerrortext" style="color:red"></span>
                </div>
                <form action="/rating" method="post">
                <div class="form-group">
                    <label style="display:inline-block" class="col-md-4">Your Name : </label>
                    <div style="display:inline-block;" class="col-md-6">
                        <input type="text" name="name" class="form-control" size="10" id="capacity_txt_modal" />
                    </div>
                    <div class="col-md-6">
                        <input name="id" hidden th:value="${book.id}">
                        <input type="radio" id="very-bad" name="rating" value="very-bad">
                        <label for="very-bad">Very Bad</label><br>
                        <input type="radio" id="poor" name="rating" value="poor">
                        <label for="poor">Poor</label><br>
                        <input type="radio" id="mediocre" name="rating" value="mediocre">
                        <label for="mediocre">Mediocre</label><br>
                        <input type="radio" id="good" name="rating" value="good">
                        <label for="good">Good</label><br>
                        <input type="radio" id="excellent" name="rating" value="excellent">
                        <label for="excellent">Excellent</label><br>
                    </div>
                </div>
                <br/>
                <button type="submit" id="updateCapacityBtn" class="btn btn-info" >Save</button>
                <button type="button" id="capacityModalClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
        </div>

    </div>
</div>
<script>
    $(function () {

        $("#rateYo").rateYo({

            onSet: function (rating, rateYoInstance) {
                rating = Math.ceil(rating);
                $('#rating_input').val(rating);//setting up rating value to hidden field
                alert("Rating is set to: " + rating);
            }
        });
    });
</script>
</body>
</html>
