<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booktique</title>
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">
</head>
<body>
    <div class="error-wrapper">
        <h4 class="error-message" th:text="${exception}"></h4>
    <img class="error-image" alt="error-message" src="css/icons8-sad-cloud-80.png">
    </div>
</body>
</html>