<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .thymeleaf-pagination {
        display: inline-block;
    }

    .thymeleaf-pagination a {
        color: black;
        float: left;
        padding: 5px 20px;
        text-decoration: none;
    }

    .thymeleaf-pagination a.active {
        background-color: grey;
        color: white;
        border-radius: 2px;
    }
    #prev {
        color: black;
        margin-bottom: 100px;
        padding: 20px 20px;
        text-decoration: none;
        display: inline-block;
        top: -10px;
        position: relative;
    }
    #prev:hover {
        color: black;
        padding: 20px 20px;
        text-decoration: none;
        position:relative;
    }
    #next {
        color: black;
        margin-bottom: 100px;
        padding: 20px 20px;
        text-decoration: none;
        position: relative;
        top: -10px;    }
    #next:hover {
        color: black;
        padding: 20px 20px;
        text-decoration: none;
    }
    .favorite:focus{
        outline: 0;
        box-shadow: none;
    }
</style>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">

    <title>Booktique</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Shrikhand" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="images/christmas.jpg" width="480px" height="400px" style="padding-right: 35px; padding-left:25px; padding-bottom:25px">
            </div>
        </div>
    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " >
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button class="btn"><a href="/homepage"><i class="fa fa-home"></i> Home</a></button>
                </li>
                <li class="nav-item dropdown">
                    <button class="categories">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:each="category: ${categories}"
                               th:href="@{'/categories?category='+${category}}" class="dropdown-item"
                               th:text="${category}"></a>

                        </div>
                    </button>
                </li>
                <li th:if="${!loggedAsAdmin}" class="nav-item">
                    <button class="favorites"><a href="/favorites">Favorites</a></button>
                </li>
                <li th:if="${!loggedAsAdmin}" class="nav-item">
                    <button class="cart"><a href="/shopping_cart">Shopping Cart</a></button>
                </li>
                <li class="nav-item">
                    <button th:if="${!logged}" class="log-in"><a href="signin.html">Log in</a></button>
                    <button th:if="${logged}" class="log-in"><a href="/logout"><span th:text="${email}"></span></a></button>
                </li>
                <li class="nav-item">
                    <form class="example" action="/search" method="post">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4"><b><a href="/homepage">Booktique</a></b></h1>
            <div class="list-group">
                <a th:if="${!loggedAsAdmin}"
                   th:each="category: ${categories}"
                   th:href="@{'/categories?category='+${category}}" class="list-group-item lg"
                   th:text="${category}"></a>
                <a th:if="${loggedAsAdmin}" class="list-group-item lg" href="/admin">Statistics</a>
                <a th:if="${loggedAsAdmin}" class="list-group-item lg" href="/addNewBooks">Add Book</a>
                <a th:if="${loggedAsAdmin}" class="list-group-item lg" href="/modifyBooksPage">Modify Book</a>
                <a th:if="${loggedAsAdmin}" class="list-group-item lg" href="/addNewUsers">Add User</a>
                <a th:if="${loggedAsAdmin}" class="list-group-item lg" href="/modifyUsersPage">Modify User</a>
            </div>

        </div>


        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel ">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="images/book1.jpg" alt="First slide" style="width:100% ">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="images/book2.jpg" alt="Second slide" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="images/book3.jpg" alt="Third slide" style="width:100%">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">


                <div th:each="b: ${bookPage.content}" class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a th:href="@{'/book?book_id='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" alt="" height="200" width="150" ></a>
                        <div class="card-body">
                            <div class="wp">

                                <a th:text="${b.bookTitle}" th:href="@{'/book?book_id='+${b.id}}" style="color: black; font-size: 16px; display: block; length: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center" ></a>

                                <p class="price" th:text="@{'$'+${b.price}}">
                                <form th:if="${!loggedAsAdmin}" action="/addToFavorites" method="post">
                                    <input name="id" hidden th:value="${b.id}">
                                    <button type="submit" class="favorite">Add to Favorites <i class="fa fa-heart"></i></button>
                                </form>
                                <form th:if="${!loggedAsAdmin}" action="/addToCart" method="post">
                                    <input name="id" hidden th:value="${b.id}">
                                    <button type="submit" class="cart buy">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                </form>
                                <form th:if="${loggedAsAdmin}" action="/deleteBook" method="post">
                                    <input name="id" hidden th:value="${b.id}">
                                    <button type="submit" class="cart buy">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<hr/>
<div class="pagination-wrapper">
    <div th:if="${bookPage.number == bookPage.totalPages - 1}" class="text-center">
        <a id="prev" th:if="${bookPage.number > 0}" th:href="@{/homepage(size=${bookPage.size}, page=${bookPage.number})}">Previous</a>
        <div th:if="${bookPage.totalPages > 0}" class="thymeleaf-pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/homepage(size=${bookPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==bookPage.number + 1} ? active"></a>
        </div>
    </div>
    <div th:if="${bookPage.number == 0}" class="text-center">
        <div th:if="${bookPage.totalPages > 0}" class="thymeleaf-pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/homepage(size=${bookPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==bookPage.number + 1} ? active"></a>
        </div>
        <a id="next" th:if="${(bookPage.number != bookPage.totalPages - 1) && (bookPage.totalPages > 0)}"
           th:href="@{/homepage(size=${bookPage.size}, page=${bookPage.number + 2})}">Next</a>
    </div>

    <div th:if="${bookPage.number > 0 && bookPage.number < bookPage.totalPages - 1}" class="text-center">
        <a id="prev" th:if="${bookPage.number > 0}" th:href="@{/homepage(size=${bookPage.size}, page=${bookPage.number})}">Previous</a>
        <div th:if="${bookPage.totalPages > 0}" class="thymeleaf-pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/homepage(size=${bookPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==bookPage.number + 1} ? active"></a>
        </div>
        <a id="next" th:if="${(bookPage.number != bookPage.totalPages - 1) && (bookPage.totalPages > 0)}"
           th:href="@{/homepage(size=${bookPage.size}, page=${bookPage.number + 2})}">Next</a>
    </div>
</div>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>

    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>

</body>

</html>


